{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Portfolio - Brian Zhang</title>
    <link rel="stylesheet" type="text/css" href="{% static 'portfolio/styles.css' %}">
    <link rel="icon" href="{% static 'portfolio/images/favicon.ico' %}" type="image/x-icon">
</head>
<body>
    <main>
        <div id="display-area" class="flex-column-centered darken-transition">
            <div id="initial-display" class="flex-column-centered flex-grow">
                <h1 class="flex-grow flex-row-centered">
                    <!-- dynamically updated in js for typing animation -->
                    <span id="name-display"></span>
                    <span id="cursor"></span>
                </h1>
                <button id="skip-animation-button" class="absolute-float-from-bottom"><p>Skip Animation</p></button>
                <div class="display-none absolute-centered-horizontal absolute-float-from-bottom flex-row-centered opacity-0 opacity-transition-slow">
                    <a href="https://github.com/BrianZhang1" target="_blank" class="margin-small-horizontal rounded-border">
                        <p class="flex-row-centered">
                            GitHub
                            <img src="{% static 'portfolio/images/github-logo.png' %}" alt="github logo" class="inline-img">
                        </p>
                    </a>
                    <a href="https://www.linkedin.com/in/brian-zhang-bz/" target="_blank" class="margin-small-horizontal rounded-border">
                        <p class="flex-row-centered">
                            LinkedIn
                            <img src="{% static 'portfolio/images/linkedin-logo.png' %}" alt="linkedin logo" class="inline-img">
                        </p>
                    </a>
                </div>
            </div>
            <div id="item-display" class="display-none flex-row-centered opacity-0 opacity-transition-medium flex-grow">
                <button class="opacity-transition-fast"><img src="{% static 'portfolio/images/back-button.png' %}" alt="back button"></button>
                <div class="flex-row-centered">
                    <div class="vertical-bar"></div>
                    <div class="flex-column-start-aligned">
                        <h2></h2>
                        <p class="text-spaced"></p>
                        <a href="https://github.com/BrianZhang1" target="_blank">
                            <p class="flex-row-centered rounded-border">
                                View on GitHub
                                <img src="{% static 'portfolio/images/github-logo.png' %}" alt="github logo" class="inline-img">
                            </p>
                        </a>
                    </div>
                </div>

                <iframe src="" allow="autoplay" frameborder="0" allowfullscreen></iframe>
            </div>
        </div>
        <div id="portfolio-area-wrapper" class="flex-column-centered opacity-0">
            <h5 id="see-more-details-text" class="height-transition">(Click a project to see more details.)</h5>
            <div id="portfolio-area" class="">
            {% for p in projects %}
                <button id="{{ p.title }}-portfolio-item-id">
                    <h3>{{ p.title }}</h3>
                    <p>{{ p.description }}</p>
                    <img src="{% static 'portfolio/images/'|add:p.image_name %}">
                </button>
            {% endfor %}
            </div>
        </div>

    </main>
    <script type="text/javascript" src="{% static 'portfolio/index.js' %}"></script>
</body>
</html>